RHINO_APP_URL=http://localhost:3000

DB_NAME=rhino
DB_USERNAME=
DB_PASSWORD=

# Run solid queue in puma for development
SOLID_QUEUE_IN_PUMA=1

# Production only:
SENDGRID_API_KEY=<api-key>

RHINO_PUBLIC_ROLLBAR_ACCESS_TOKEN=

RHINO_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_...
RHINO_STRIPE_SECRET_KEY=sk_...

AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_S3_BUCKET=
AWS_REGION=

AZURE_STORAGE_KEY=AAAAAAAAAAAAAA
AZURE_ACCOUNT_NAME="azure_acc_name"
AZURE_CONTAINER="container-test"

AUTH_GOOGLE_OAUTH2_CLIENT_ID=
AUTH_GOOGLE_OAUTH2_SECRET_KEY=

# EMAIL CONFIGURATION
DEFAULT_EMAIL_SENDER=
